@import '../omarchy/current/theme/swayosd.css';

/* @define-color border-color #EE9FA2; */
@define-color border-color #A1CAFE;

window {
  border-radius: 12px;
  border: 2px solid @border-color;
  border-color: @foreground;
  opacity: 0.97;

  background-color: @background-color;
}

.osd,
osd,
osd {
  background-color: alpha(@background-color, 0.4);
  border: 2px solid @border-color;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}

label {
  font-family: 'CaskaydiaMono Nerd Font';
  font-size: 11pt;

  color: @label;
}

image {
  color: @image;
}

progressbar {
  border-radius: 0;
}

progress {
  background-color: @progress;
}
