@import '../omarchy/current/theme/waybar.css';

@define-color foreground white;
@define-color background black;

* {
  background-color: transparent;
  color: @foreground;
  border: none;
  border-radius: 0;
  min-height: 0;
  font-family: 'CaskaydiaMono Nerd Font';
  font-size: 12px;
}

window#waybar {
  box-shadow: none;
}

.modules-left {
  margin-left: 3px;
}

.modules-right {
  background-color: @background;
  border-radius: 9999px;
  margin-right: 10px;
}

.pill {
  padding: 4px 12px;
  border-radius: 9999px;
  background-color: @background;
  margin: 0 6px;
}

#workspaces {
  background-color: @background;
  margin-left: 6px;
  border-radius: 9999px;
}

#workspaces button {
  border-radius: 9999px;
  color: @foreground;
}

#workspaces button.empty {
  opacity: 0.25;
}

#workspaces button.active {
  background-color: rgba(255, 255, 255, 0.12);
}

#cpu,
#battery,
#pulseaudio,
#tray,
#bluetooth,
#network {
  padding: 4px 12px;
  border-radius: 9999px;
  background-color: @background;
  margin: 0 2px;
  min-width: 18px;
}

#custom-omarchy,
#custom-update,
#custom-screenrecording-indicator,
#custom-expand-icon,
#clock {
  padding: 4px 12px;
  border-radius: 9999px;
  background-color: @background;
  margin: 0 6px;
  min-width: 18px;
}

#clock {
  padding-left: 20px;
  padding-right: 18px;
}

#tray-expander {
  border-radius: 9999px;
  background-color: @background;
}

#custom-omarchy {
  padding-right: 16px;
}

#network {
  padding-right: 14px;
}

#pulseaudio,
#wireplumber {
  padding-right: 16px;
  padding-left: 10px;
}

#custom-update {
  font-size: 10px;
}

#custom-screenrecording-indicator {
  font-size: 10px;
}

#custom-screenrecording-indicator.active {
  color: #a55555;
}

tooltip {
  background-color: @background;
  color: @foreground;
  padding: 6px 10px;
  border-radius: 6px;
}

menu {
  background-color: @background;
  border-radius: 6px;
}

menu menuitem:hover {
  background-color: rgba(255, 255, 255, 0.06);
  color: @foreground;
}

/* Removes the ugly border around the right click menu on tray items */
window.popup,
window.menu,
.window-frame,
menu > window,
menu > decoration,
decoration {
  border: 0;
  box-shadow: none;
}
