@define-color bg #171214;
@define-color fg #f4f1f1;
@define-color gray1 #51e65f;
@define-color gray2 #9d7b8b;
@define-color gray3 #6c8eea;
@define-color gray4 #ec7994;
@define-color gray5 #ec79c3;
@define-color fg_bright #f4f1f1;

window {
    background-color: @bg;
    border: 2px solid @gray3;
}

input {
    background-color: @bg;
    color: @fg;
    border: 1px solid @gray2;
}

input:selected {
    background-color: @gray1;
    color: @fg_bright;
}

#entry {
    color: @fg;
    background-color: @bg;
    padding: 5px;
    margin: 2px;
}

#entry:selected {
    background-color: @gray1;
    color: @fg_bright;
}

scrollbar {
    background-color: @bg;
}

scrollbar slider {
    background-color: @gray2;
    border-radius: 5px;
}

scrollbar slider:hover {
    background-color: @gray3;
}